.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0 3%;

  > * {
    width: 33.3%;
  }

  img {
    max-width: 33%;
  }

  ul {
    li + li {
      margin-top: 1rem;
    }

    li {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      color: #616161;

      span {
        color: white;
      }
    }
  }

  .text {
    text-align: center;
  }
}
