.wrapper {
  text-align: center;
  padding: 15px 30px 10px;

  h6 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
    color: #616161;
    font-size: 14px;
  }

  // @media (width <= 480px) {
  // }
}
