.wrapper {
  // color: white;
  position: relative;

  section {
    // border: 1px solid red;
  }

  > aside {
    position: sticky;
    top: 100px;
    display: inline-block;
    z-index: 10;
  }

  > footer {
    padding: 0 3%;
    &::before {
      background-color: black;
      content: "";
      height: 130%;
      left: 0;
      filter: blur(10px);
      position: absolute;
      top: 0;
      width: auto;
      z-index: -1;
    }

    > a {
      background-color: unset;
      border: unset;

      & {
        img {
          width: 29px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    padding-bottom: 15px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
    width: 100%;

    bottom: 0;
  }

  padding-bottom: 100px;

  @media (width <= 480px) {
    > aside {
      display: none;
    }
  }
}

.content {
  margin-top: -300px;
  padding: 5% 20%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 130px 0;
  overflow-x: hidden;
  position: relative;

  > section > h4 {
    font-size: 50px;
    text-align: center;
  }

  @media (width <= 480px) {
    padding: 10px;

    margin-top: unset;

    > section > h4 {
      font-size: 30px;
      text-align: center;
    }
  }
}
