.wrapper {
  // color: white;
  position: relative;

  > aside {
    position: sticky;
    top: 100px;
    display: inline-block;
    z-index: 10;
  }

  > footer {
    &::before {
      background-color: black;
      content: "";
      height: 130%;
      left: 0;
      filter: blur(10px);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  padding-bottom: 100px;

  @media (width <= 480px) {
    > aside {
      display: none;
    }
  }
}

.content {
  margin-top: -300px;
  padding: 5% 20%;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px 0;
  position: relative;

  > section > h4 {
    font-size: 50px;
    text-align: center;
  }

  @media (width <= 480px) {
    padding: 10px;

    margin-top: unset;

    > section > h4 {
      font-size: 30px;
      text-align: center;
    }
  }
}
