.section {
  display: flex;
  gap: 0 25px;

  header {
    h4,
    p {
      font-weight: 400;
    }

    h4 {
      margin: 0;
      margin-top: 17px;
      font-size: 50px;
    }

    p {
      color: var(--text-color-2);
    }
  }

  > div > div {
    line-height: 23px;
  }

  img {
    width: 30%;
    height: auto;
    object-fit: contain;
  }

  &.reverse {
    flex-direction: row-reverse;

    header {
      text-align: right;

      > div > div > div {
        justify-content: flex-end;
      }
    }
  }
}
