.research {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  list-style-type: none;
}

.blocks {
  display: flex;
  margin-top: 35px;
  gap: 0 30px;

  > div {
    flex-grow: 1;
    text-align: center;

    p {
      color: #616161;
      font-size: 14px;
    }
  }
}
